.button {
  max-width: 100%;
  padding: 1rem;
  border-radius: 10px;
  transition: color 0.5s ease-in-out;
  background-color: $c-primary;
  color: $c-white;

  &:hover {
    background-color: darken($c-primary, 5%);
  }

  &--small {
    width: 150px;
  }

  &--large {
    width: 250px;
  }
}
