.hero {
  $self: &;
  position: relative;
  padding-bottom: 2rem;

  &__cta-container {
    @include container;
    margin-top: 1rem;
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    padding: 0;

    &__cta-container {
      max-width: 300px;
      text-align: right;
      overflow: hidden;
      z-index: 10;
      margin: 0 1.5rem 0;
    }

    &__image {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &--left {
      justify-content: flex-start;

      #{$self}__cta-container {
        margin: 0 0 0 1.5rem;
        text-align: left;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    height: 500px;
    &__cta-container {
      max-width: 450px;
    }
  }

  @media only screen and (min-width: 1280px) {
    height: 600px;

    &__cta-container {
      max-width: 550px;
      margin-right: 3rem;
    }

    &--left {
      #{$self}__cta-container {
        margin-left: 3rem;
        text-align: left;
      }
    }
  }
}
