@import '../mixins/container';

.site {
  margin-top: 3rem;

  &__title {
    margin-bottom: 3rem;
    text-align: center;
    color: $c-primary;
  }

  &__intro {
    text-align: center;
    margin-bottom: 3rem;
  }
}
